/*공통*/
.wrap_bg{width: 100%; height: 100vh; position: relative; background: url('/img/login_bg.jpg') no-repeat fixed center/cover;}
.mb_wrap{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.mb_wrap h1{text-align: center; vertical-align: middle; padding: 50px 0;}
.mb_wrap h1 img{height: 26px}

.box2 h1{padding: 35px;}
.box2 h1 span{margin-left: 10px; color: #78787B; font-size: 1.2em; line-height: 24px; vertical-align: middle; font-weight: 300;}

@media screen and (max-width:550px){
    .box2{width: 100%;}
    .box2 h1 span{display: block; margin: 5px 0 0;}
}

/* 1.1 로그인 */
.login_form{width:494px; padding:0px 60px;}
.login_password_lost{text-align: center;}
.login_ft{text-align: center; padding:28px; color:#F9F9F9;}
.ft_copy{text-align: center; color: #fff; position: absolute; bottom: 66px; left: 50%; transform: translateX(-50%);; opacity: 66%;}

@media screen and (max-width:550px){
    .mb_wrap{width: 95%;}
    .box1{width: 100%;}
    .login_form{width: 100%; padding: 0 25px;}
}

/* 1.2 회원가입 */
.sign_form > div:first-child{background-color: #F9F9F9;}
.sign_form > div{padding: 55px 50px;}
.sign_form > div > p{padding-bottom: 10px; font-weight: bold}
.sign_form .form_wrap{ display: flex;}
.sign_form .form_wrap input{ min-width: 374px;}
.sign_form .form_wrap > div{padding-right: 20px; border-right: 1px solid #C8C8CB; margin-right: 20px; width:100%;}
.sign_form .form_wrap > div:last-child{padding-right: 0; margin-right: 0; border: 0;}
.sign_form .btn_wrap{border-top: 1px solid #E8E8E8;}

@media screen and (max-width:950px) {
    .sign_form input{width: 100%; min-width: 100%;}

}
@media screen and (max-width:550px){

    .sign_form .form_wrap input{ min-width:0px;}
    .sign_form{overflow-y: auto; height:calc(100vh - 150px)}
    .sign_form > div {padding: 20px 25px;}
    .sign_form .form_wrap{ display:block;}
    .sign_form .form_wrap > div{border-right: 0; border-bottom: 1px solid #C8C8CB; padding:0 0 20px; margin: 0 0 20px; }
    .sign_form .form_wrap > div:last-child{margin-bottom: 0; padding-bottom: 0;}
}

/* 1.3 아이디/비밀번호찾기  */
.find_form .form_wrap{padding:0 50px;}
.find_form .nav-tabs{margin-bottom: 20px;}

@media screen and (max-width:550px){
    .find_form .form_wrap{padding: 0 25px;}
}